<div class="container">

	<h1>Welcome to the Egg Game Man!</h1>
	<p>The rules are you have two eggs and you have to use them to figure out on which floor the eggs will break.  The two eggs break on the same floor.  See how many guesses it takes you.  Find the approach that uses the least amount of drops.  The eggs do not weaken on each drop.   They're magic like that!</p>


	<%= button_to "New Game", { action: "create" } %>


</div>




